<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportsPortal</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SportsPortal.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://cust.edu.pk/wp-content/uploads/2022/04/CUST-Logo-New-1.png" alt="CUST" width="30" height="30" class="d-inline-block align-top">
                    CUST Sports Week
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Announcements" asp-action="Index">Announcements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Sports" asp-action="Index">Sports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Players" asp-action="Index">Players</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Schedules" asp-action="Index">Schedules</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Results" asp-action="Index">Results</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <select class="form-select me-2" id="yearSelector" name="year">
                            <option value="2025">2025</option>
                            <option value="2024">2024</option>
                        </select>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            &copy; 2025 - SportsPortal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <div class="social-icons">
                <a href="https://www.facebook.com/custofficial/" target="_blank" class="social-icon"><i class="bi bi-facebook"></i></a>
                <a href="https://twitter.com/custofficial/" target="_blank" class="social-icon"><i class="bi bi-twitter-x"></i></a>
                <a href="https://www.linkedin.com/school/custofficial/" target="_blank" class="social-icon"><i class="bi bi-linkedin"></i></a>
                <a href="https://www.instagram.com/custofficial/" target="_blank" class="social-icon"><i class="bi bi-instagram"></i></a>
                <a href="https://www.youtube.com/custofficial/" target="_blank" class="social-icon"><i class="bi bi-youtube"></i></a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const yearSelector = document.getElementById('yearSelector');
            const urlParams = new URLSearchParams(window.location.search);
            const year = urlParams.get('year') || '2025';
            yearSelector.value = year;

            yearSelector.addEventListener('change', function () {
                var selectedYear = this.value;
                var currentUrl = new URL(window.location.href);
                currentUrl.searchParams.set("year", selectedYear);
                window.location.href = currentUrl.toString();
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    <button id="scrollToTopBtn" class="btn btn-primary scroll-to-top-btn"><i class="bi bi-arrow-up"></i></button>
</body>
</html>
